<div class="columns track-controls-container">
  <div class="column is-3">
    <div class="tile is-ancestor is-vertical">
      <div class="tile">
        <button
          class="mute-btn button is-small is-dark"
          ng-class="{'is-light': !$ctrl.isMuted, 'is-danger': $ctrl.isMuted, 'muted-by-solo': !$ctrl.isMuted && $ctrl.isMutedBySolo}"
          ng-click="$ctrl.muteTrack()"
          type="button"
          name="button">
          MUTE
        </button>
      </div>
      <div class="tile">
        <button
          class="solo-btn button is-small"
          ng-class="{'is-dark': !$ctrl.isSoloed, 'is-warning': $ctrl.isSoloed}"
          ng-click="$ctrl.soloTrack()"
          type="button"
          name="button">
          SOLO
        </button>
      </div>
    </div>
  </div>
  <div class="column">
    <input
      class="track-fader-slider"
      ng-model="$ctrl.fader"
      ng-change="$ctrl.faderChange()"
      ng-focus="$ctrl.occupiedByUser()"
      ng-blur="$ctrl.unoccupiedByUser()"
      ng-disabled="$ctrl.isOccupied"
      ng-class="{'parameter-occupied': $ctrl.isOccupied}"
      type="range">
      <button class="track-fader-btn button is-btn is-black" type="button" name="button"><strong>{{$ctrl.fader}}</strong></button>
  </div>
</div>
