.chat-content {
  max-height: 1rem;
  overflow: scroll;
  background-color: white;
}

.chat-component {
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgb(108, 108, 108);
}

.box.chat-content {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 95%;
  overflow: hidden;
}

#expand-chat.pulse {
  animation: chat-pulse 1s infinite ease-in;
}

@-webkit-keyframes chat-pulse {
  85% {
    background-color: rgba(157, 157, 157, 0.9);
  }
}

#chat-container {
  position: fixed;
  width: 35%;
  padding: 0;
  margin: 0;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: scroll;
}

#messages li {
  width: 100%;
  padding: 0.5rem 10% 0.5rem;
}

#messages li.even {
  background: rgb(182, 182, 182);
}
