input[type="range"].master-fader {
  position: relative;
  display: inline-block;
  height: 1rem;
  width: 90%;
  /*-webkit-transform: rotate(-90deg);*/
  -webkit-transform-origin: center;
}

.master-track-component {
  margin: 0.5rem;
}

.master-track-component p {
  background: #363636;
  border-radius: 0.2rem;
}

.master-track-component p {
  color: #e0e1dd;
}
