input[type="range"].master-fader {
  position: relative;
  display: inline-block;
  height: 1rem;
  width: 100%;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: center;
}

.master-track-component {
  margin: 0.5rem;
}
