.studio-container {
  height: 100vh;
  padding-top: 4rem;
}

.master-component {
  /*border: 1px solid lightblue;*/
}

.parameter-occupied {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: red;
}
