.studio-container {
  height: 100vh;
  padding-top: 4rem;
}

.track-container {
  border: 3px solid white;
}

.chat-master-container {
  border: 3px solid white;
}

.chat-component {
  border: 1px solid lightgreen;
}

.master-component {
  border: 1px solid lightblue;
}
