.navbar {
  background-color: #0d1b2a;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-item {
  color: #6290c8;
}

body {
  z-index: 0;
  height: 100%;
  background-color: #415a77;
}

.box.cs-splash {
  height: 18rem;
  background-image: url('http://eskipaper.com/images/cloud-background-2.jpg');
  margin-top: 5rem;
  box-shadow: inset 0 0 1em #1b263b, 0 0 1em #376996;
}

.splash-title {
  color: #e0e1dd;
}
