.navbar {
  background-color: #0d1b2a;
}

.navbar-item {
  color: #e0e1dd;
}

body {
  height: 100vh;
  background-color: #415a77;
}

.cs-splash {
  height: 25vh;
  background-image: url('http://eskipaper.com/images/cloud-background-2.jpg');
  margin-top: 5rem;
  box-shadow: inset 0 0 1em #1b263b, 0 0 1em #376996;
}

.splash-title {
  color: #e0e1dd;
}
