.navbar {
  background-color: #0d1b2a;
}

.navbar-item {
  color: #e0e1dd;
}

body {
  z-index: 0;
  height: 100vh;
  background-color: #184f7e;
}

.box.cs-splash {
  height: 18rem;
  background-image: url('http://eskipaper.com/images/cloud-background-2.jpg');
  margin-top: 5rem;
  box-shadow: inset 0 0 1em #1b263b, 0 0 1em #376996;
}

.splash-title {
  color: #e0e1dd;
}

h1 {
  color: white
}
