.wrapper {
	height: 100%;
	max-width: 800px;
	margin: 0 auto;
}

canvas {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: -3px;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.7),
              0 3px 4px rgba(0,0,0,0.7);
}

.track-fader {
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: top;
}

.tracks {
  height: 10rem;
}
