.wrapper {
	max-width: 400px;
	min-height: 85px;
	margin: 0 auto;
}

canvas {
	width: 100%;
}

.track-component, canvas {
	background-color: rgb(108, 108, 108);
	border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.7),
              0 3px 4px rgba(0,0,0,0.7);
}

.track-source-btn {
	max-width: 80%;
}

.track-source-btn p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
}

.available-samples {
	position: absolute;
	top:100%;
	width: 150%;
	left:0;
	background:#464646;
	padding:0;
	z-index: 5;
}

.available-samples li {
	margin: .2rem;
	font-size: .8rem;
	width: 100%;
}

.available-samples li a {
	color: white;
}

.track-fx {
	/*overflow: auto;*/
	height: auto;
}

.track-component {
	overflow: scroll;
	margin-top: 1rem;
}

.tracks {
	/*overflow: auto;*/
	border-top: 1px solid black;
	/*box-shadow: 0 0px 1px rgba(0,0,0,0.7);*/
	/*height: auto;*/
}

.track-meter {
	padding: .75rem .8rem;
}
