.wrapper {
	max-width: 400px;
	min-height: 85px;
	margin: 0 auto;
}

canvas {
	width: 100%;
}

.track-component, canvas {
	background-color: rgb(94, 94, 94);
	border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.7),
              0 3px 4px rgba(0,0,0,0.7);
}

.track-fx {
	overflow: visible;
	height: auto;
}

.track-component {
	overflow: visible;
	margin-top: 1rem;
}

.tracks {
	overflow: visible;
	border-top: 1px solid black;
	/*box-shadow: 0 0px 1px rgba(0,0,0,0.7);*/
	/*height: auto;*/
}

.track-meter {
	padding: .75rem .8rem;
}
