<div class="wrapper">
  <div class="columns">
    <div class="column is-10 track-source">
      <div ng-click="$ctrl.showSamples = !$ctrl.showSamples" class="button is-small track-source-btn is-dark">
        <p class="">{{$ctrl.source.sampleName}}</p>
        <ul ng-show="$ctrl.showSamples" class="available-samples menu-list">
          <li
            class="sample-select has-text-left"
            ng-repeat="sample in $ctrl.samples"
            ng-click="$ctrl.changeSource(sample)">
            <a class="is-dark">{{sample.sampleName}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div ng-if="!$ctrl.playAll" ng-click="$ctrl.playOneTrack()" class="column">
      <div ng-show="!$ctrl.trackIsPlaying" class="button is-small is-success">
        <span class="icon track-play">
          <i class="fa fa-play-circle"></i>
        </span>
      </div>
      <div ng-show="$ctrl.trackIsPlaying" class="button is-small is-danger">
        <span class="icon track-play">
          <i class="fa fa-stop-circle"></i>
        </span>
      </div>
    </div> -->
  </div>
  <div class="track-meter columns">
    <canvas class="visualizer" id="{{$ctrl.trackName}}" height="85"></canvas>
  </div>
  <track-controls
    fader="$ctrl.fader"
    gain-node="$ctrl.gainNode"
    track-name="{{$ctrl.trackName}}">
  </track-controls>
</div>
