<div class="columns master-track-component">
  <div class="column is-half">
    <div class="columns is-mobile">
      <div class="column">
        <button
          ng-show="!$ctrl.isPlaying"
          ng-click="$ctrl.sendPlayMessage()"
          class="button is-large is-success"
          type="button"
          name="button">PLAY ALL</button>
        <button
          ng-show="$ctrl.isPlaying"
          ng-click="$ctrl.sendStopMessage()"
          class="button is-large is-danger"
          type="button"
          name="button">STOP ALL</button>
      </div>
      <div class="column">
        <button
          ng-click="$ctrl.clearSolo()"
          class="button is-large is-warning"
          type="button"
          name="button">CLEAR SOLO</button>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="tile is-ancestor is-vertical has-text-centered">
      <div class="tile">
        <div class="column"></div>
        <div class="column is-two-thirds master-volume-label">
          <p>MASTER VOLUME</p>
        </div>
        <div class="column is-2">
          <button class="button master-fader is-black" type="button" name="button"><strong>{{$ctrl.fader}}</strong></button>
        </div>
        <div class="column"></div>
      </div>
      <div class="tile">
        <div class="column">
          <input
          ng-model="$ctrl.fader"
          ng-change="$ctrl.faderChange()"
          class="master-fader"
          type="range">
        </div>
      </div>
    </div>
  </div>
</div>
